#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    justify-content: space-between;
}

.bg {
    position: absolute;
    top: -4rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
    width: 50%;
    
    animation-name: floating;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, 0px);
    }
}

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: slideInLeft 1s ease-in;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: #e40179;
}

.introPara {
    font-size: 1rem;
    font-weight: 300;
}

@media screen and (max-width:840px) {
    
    .bg {
        right: -10vw;
    }
    .introContent {
        font-size: 10vw;
    }

    .hello {
        font-size: 4.5vw;
    }
}
